body {
    background: radial-gradient(circle at 50% 50%, rgb(247, 130, 231), skyblue);
    width: 100%;
    height: 100vh;
  }

.frame {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    margin-top: -200px;
    margin-left: -200px;
    border-radius: 2px;
    box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
    overflow: hidden;
    background: #3FAF82;
    color: #333;
}

.frame:hover {
    background: #289167;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.box {
	width: 80px;
	height: 52px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.line {
	width: 100%;
	height: 8px;
	background: #fff;
	border-radius: 3px;
	box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.3);
    /*
    animation-name: line;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    */
}

/*
@keyframes line {
    from {background: #fff;}
    to {background: black;}
}
*/

.line-1 {
    animation-name: line-1;
    animation-duration: 3s;
    animation-timing-function: linear;
    /* animation-iteration-count: infinite; */
}
.line-2 {
    animation-name: line-2;
    animation-duration: 3s;
    animation-timing-function: linear;
    /* animation-iteration-count: infinite; */
}
.line-3 {
    animation-name: line-3;
    animation-duration: 3s;
    animation-timing-function: linear;
    /*animation-iteration-count: infinite;*/
}

@keyframes line-1 {
    0%   {background-color: blue; transform: rotate(0deg);}
    25%  {background-color: red; transform: rotate(135deg);}
    50%  {background-color: blue; transform: rotate(270deg);}
    75%  {background-color: red; transform: rotate(405deg); }
    100% {background-color: blue; transform: rotate(540deg);}
  }
  @keyframes line-2 {
    0%   {background-color: blue; transform: rotate(0deg);}
    25%  {background-color: red; transform: rotate(-135deg);}
    50%  {background-color: blue; transform: rotate(-270deg);}
    75%  {background-color: red; transform: rotate(-405deg);}
    100% {background-color: blue; transform: rotate(-540deg);}
  }
  @keyframes line-3 {
    0%   {background-color: blue; transform: rotate(0deg);}
    25%  {background-color: red; transform: rotate(135deg);}
    50%  {background-color: blue; transform: rotate(270deg);}
    75%  {background-color: red; transform: rotate(405deg); }
    100% {background-color: blue; transform: rotate(540deg);}
  }